@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100;0,300;0,400;1,100;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://i.ibb.co/B2zWWkR/coffeeimg1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 1300px;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 40px;
  color: #fff;
}

.navbar-menu a {
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  padding: 6px 15px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  transition: 0.4s ease;
  text-decoration: none;
}

.navbar-menu a:hover {
  background-color: #b67616;
  color: #000;
  box-shadow: 0 0 20px #b67616;
}

.description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 0 70px;
  width: 100%;
  text-align: center;
}

.description h2 {
  font-family: "Great Vibes", "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 100;
  color: #b67616;
  text-shadow: 0 0 3px #fff;
  letter-spacing: 2px;
  line-height: 50px;
}

.description h1 {
  font-family: "Great Vibes", "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #b67616;
  text-shadow: 0 0 2px #fff;
  letter-spacing: 5px;
  line-height: 70px;
}

.description p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #b67616;
  text-shadow: 0 0 1px #fff;
  letter-spacing: 5px;
  word-spacing: 3px;
  line-height: 25px;
  margin-bottom: 30px;
}

.description button {
  font-size: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background: #b67616;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 20px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #b67616;
  cursor: pointer;
  transition: 0.4s;
}

.description button:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px 5px #b67616;
}
